body {
    font-family: arial, helvetica;
  }

h1 {
  font-size: 3em;
  text-align: center;
  color: black;
  font-weight: 700;
  margin: 0px;
}

h3 {
  font-size: 3em;
  text-align: center;
  color: black;
  font-weight: 700;
}

.title {
  color: white;
}

.row {
  display:flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.column {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.center{
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.section1 {
  color: #fff;
  background:url("./assets/iceland.jpg") center no-repeat; 
  background-position: fixed;
  background-color: #000000;
  height: 100%;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.section-text{
  width: 50em;
  text-align: left;
}

.portrait-img {
  border-radius: 20%;
}

.header-img {
  width: 20em;
}

.contact-group{
  width: 15em;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 3em 0em 3em 0em;
}

.project-img{
  height: 7em;
}

.project-icon-group{
  width: 15em;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 1em 0em 0em 0em;
}

.about-me{
  width: 400px;
  padding-left: 3em;
}

@media (max-width: 850px){

h3 {
  font-size: 1em;
  text-align: center;
  color: black;
  font-weight: 700;
}

h5{
  font-size: .75em;
  margin: 1em 0em 1em 0em;
}

.project-img{
  height: 5em;
}

.project-icon-group{
  width: 10em;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 1em 0em 0em 0em;
}

.section-text{
  width: 20em;
  text-align: left;
  font-size: .75em;
}

project-links{
  width: 3em;
}


}

