body {
    font-family: arial, helvetica;
  }
  
  h3 {
    font-size: 3em;
    text-align: center;
    color: black;
    font-weight: 700;
    margin: 0px;
    padding-top: 100px;
  }
  
  .section1 {
    color: #fff;
    background:url("./assets/iceland.jpg") center top no-repeat; 
    background-position: fixed;
    background-color: #000000;
  }

  .row {
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .column {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .fp-section {
    text-align: center;
  }
  
  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }

  .section-text{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: left;
  }

  .portrait-img {
    border-radius: 20%;
  }

  .header-img {
    width: 40em;
  }

  .contact-group{
    width: 200px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }

  section{
    text-align: left;
  }

  .section-padding{
    padding-left: 2em;

  }
